.dotted {
  border-style: dashed;
  margin: 2rem 0;
}

.section-divider {
  @include xy-grid-container;
  @include xy-grid;

  margin-top: $global-padding * 6;
  margin-bottom: $global-padding * 2;

  &__headline,
  &__subheadline {
    @include xy-cell(12);

    @include breakpoint(large) {
      @include xy-cell(8);
    }
  }
}
