.hero {
  @include xy-grid-container;

  @include breakpoint(medium) {
    background-image: url('../images/icongroup.svg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 40%;
  }

  .hero__headline {
    font-weight: bold;
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-size: 2.5rem;
    line-height: 2.5rem;
    @include xy-cell(10);

    @include breakpoint(medium) {
      margin-top: 10rem;
      margin-bottom: 15rem;
      font-size: 4rem;
      line-height: 4rem;
    }
  }
}


@import 'modules/about';
@import 'modules/recent_projects';
@import 'modules/sponsoring';
