.about {
  &__wrapper {
    border-top: 3px solid $dark-nav-color;
    padding-top: $global-padding * 6;
    padding-bottom: $global-padding * 2;

    @include xy-grid-container;
    @include xy-grid;
  }

  &__text,
  &__media {
    @include xy-cell(12);

    @include breakpoint(large) {
      @include xy-cell(6);
    }
  }
}
