.about {
  margin-top: $global-padding * 6;

  padding-top: $global-padding * 2;
  padding-bottom: $global-padding * 2;

  background-color: $light-primary;

  &__wrapper {
    @include xy-grid-container;
    @include xy-grid;
  }

  &__text,
  &__media {
    @include xy-cell(12);

    @include breakpoint(large) {
      @include xy-cell(6);
    }
  }
}
