.footer-container {
  margin: 0 auto;
  margin-top: rem-calc(60);
  background-color: $dark-nav-color;
  color: $white;
}

.footer__wrapper {
  @include xy-grid-container;
}

.footer {
  @include xy-grid;
  @include xy-cell(auto);
  padding: rem-calc(30) 0;

  .widget {
    @include xy-cell(12);
    &:not(:first-child) {
      margin-bottom: rem-calc(20);
    }

    @include breakpoint(large) {
      @include xy-cell(4);
    }

    .widget {
      margin: 0;
      width: 100%;
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}
