.footer-container {
  margin: 0 auto;
  margin-top: rem-calc(60);
  background-color: $dark-nav-color;
  color: $white;
}

.footer__wrapper {
  @include xy-grid-container;
}

.footer {
  @include xy-grid;
  @include xy-cell(auto);
  padding: rem-calc(30) 0;

  section {
    @include xy-cell(auto);
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}
